<div class="modal fade" id="deletemodal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление элемента</h4>
            </div>
            <div class="modal-body">
                <p class="modal-text">Удалить элемент?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left js-ok" >Да</button>
                <button type="button" class="btn btn-default pull-right js-cancel" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Assets/Scripts/deletemodal.js")" type="text/javascript"></script>