@model ManagerDesk.ViewModels.DishViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item">
        <h3 class="info-item-heading">@Model.Name</h3>
        <h4 class="price-heading">@Model.Price р.</h4>
        <div class="dish-description">@Model.Description</div>
    </div>
</div>