@model List<ManagerDesk.ViewModels.DishListViewModel>
@foreach (var dishList in Model)
{
    <h2>@dishList.Category</h2>
    foreach (var dish in dishList.Dishes)
    {
        @Html.Partial("DishCard", dish)
    }
}

<script src="~/Assets/Scripts/libs/equalheights.js"></script>