@model ManagerDesk.ViewModels.DishViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item">
        <h3 class="info-item-heading"><input class="form-control" type="text" placeholder="Блюдо"/></h3>
        <h4 class="price-heading"><input class="form-control" type="text" placeholder="Цена"/></h4>
        <div class="dish-description"><input class="form-control" type="text" placeholder="Описание"/></div>
        <a href="#" class="btn btn-save-dishes">Сохранить</a>
    </div>
</div>