@model List<ManagerDesk.ViewModels.DishListViewModel>
@foreach (var dishList in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="login__heading">@dishList.Category</h1>
        </div>
    </div>

    <div class="row">
        @foreach (var dish in dishList.Dishes)
        {
            @Html.Partial("DishCard", dish)
        }
    </div>
    
}

<script src="~/Assets/Scripts/libs/equalheights.js"></script>
