@model ManagerDesk.ViewModels.MenuViewModel
<div class="col-md-12 col-lg-6">
    <div class="info-item">
        <h3 class="info-item-heading">@Model.MenuName</h3>
        @foreach (var dish in Model.DishList)
        {
            <div class="dish-name">@dish.Name <span class="dish-price">@dish.Price р.</span></div>
        }
    </div>
</div>