@model List<ManagerDesk.ViewModels.RestaurantViewModel>

<div class="row">
    @foreach (var rest in Model)
    {
        @Html.Partial("RestaurantCard", rest)
    }
</div>

<script src="~/Assets/Scripts/libs/equalheights.js"></script>