@model ManagerDesk.ViewModels.TableCardViewModel
<div class="col-md-6 col-lg-3">
    <div class="info-item" data-itemid="@Model.Id">
        <div class="table-wrap">
            <h3 class="info-item-heading">Стол <span class="table-number">@Model.TableNumber</span></h3>
            <div class="dropdown">
                <span class="more-menu-btn dropdown-toggle" type="button" id="dropdownTableCard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">+</span>
                <ul class="dropdown-menu" aria-labelledby="dropdownTableCard">
                    <li><a href="#">Добавить</a></li>
                    <li><a href="#">Редактировать</a></li>
                    <li><a href="#">Удалить</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Подробнее</a></li>
                </ul>
            </div>
            <span class="label label-danger">Не оплачен</span>
            <span class="label label-success">Оплачен</span>
            @foreach (var dish in Model.Orders)
            {
                <div class="dish-name">@dish.DishFromMenu.Name<span class="dish-price">@dish.DishFromMenu.Price р.</span></div>
            }
        </div>
    </div>
</div>