@model List<ManagerDesk.ViewModels.TableCardViewModel>

<div class="row">
    @foreach (var table in Model)
    {
        @Html.Partial("TableCard", table)
    }
</div>

<script src="~/Assets/Scripts/libs/equalheights.js"></script>