<header class="header-top">
    <nav class="navbar-top">
        <div class="navbar-left-btn js-opened"><i class="fa fa-bars"></i></div>
        <ul class="toolbar-top">
            <li><a href="#" class="toolbar-add" data-target="@Url.Action("Add","Manager")">Добавить</a></li>
            <li><a href="#">Редактировать</a></li>
            <li><a href="#" class="toolbar-delete" data-target="@Url.Action("DeleteItem","Manager")">Удалить</a></li>
        </ul>
        <a class="logout"><i class="fa fa-sign-out"></i> Выйти</a>
    </nav>
</header>
<script src="@Url.Content("~/Assets/Scripts/toolbar.js")" type="text/javascript"></script>