@model ManagerDesk.ViewModels.BookingViewModel

<div class="info-item js-book-card animated fadeIn"  data-itemid="@Model.Id" data-type="Book">

    <div class="dish-description">@Model.Text</div>
</div>