@model ManagerDesk.ViewModels.ConfigViewModel


@using (Html.BeginForm())
{
    <div class="col-md-12">
        <div class="info-item animated fadeIn" data-itemid="@Model.Id">
            @Html.LabelFor(model => model.OrgName, "Организация", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.OrgName, new { htmlAttributes = new { @class = "form-control" } })

            <a class="btn btn-save-dishes" href="#">Сохранить</a>
        </div>
    </div>
}
