@model ManagerDesk.ViewModels.ConfigViewModel


@using (Html.BeginForm())
{
    <div class="col-md-6 col-lg-3">
        <div class="info-item" data-itemid="@Model.Id">
            @Html.LabelFor(model => model.OrgName, "Организация", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.OrgName, new { htmlAttributes = new { @class = "form-control" } })

            <a class="btn green-btn" href="#">Сохранить</a>
        </div>
    </div>
}
