<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Karhouse</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="~/Assets/css/stylish-portfolio.css" rel="stylesheet">

    <!--<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/img/favicons/favicon.ico">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter46799061 = new Ya.Metrika({
						id:46799061,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/46799061" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

    <!-- Header -->
    <header class="header" id="top">
        <div class="text-vertical-center">
            <h1>Karhouse</h1>
            <h3>Чат-боты и не только</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Подробнее</a>
            <a href="#leave" class="btn btn-dark btn-lg js-scroll-trigger js-request">Оставить заявку</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container text-center">
            <h2>Мы создаем целые системы на основе телеграмм ботов любой сложности.</h2>
            <p class="lead">Используя современные технологи мы можем сделать именно такого бота который нужен вашему бизнесу.</p>
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-dark text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 mx-auto">
                    <h2>Наши Услуги</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flask fa-stack-1x text-dark"></i>
                                </span>
                                <h4>
                                    <strong>Проектируем ботов</strong>
                                </h4>
                                <p>Вместе с заказчиком мы детально продумываем все аспекты создания бота, начиная с идеи, заканчивая поддержкой и продвижением бота.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cloud fa-stack-1x text-dark"></i>
                                </span>
                                <h4>
                                    <strong>Заботимся о всей технической части</strong>
                                </h4>
                                <p>С помощью технологий Microsoft Azure мы всегда уверены в бесперебойной работе наших ботов.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-shield fa-stack-1x text-dark"></i>
                                </span>
                                <h4>
                                    <strong>Поддерживаем наших ботов</strong>
                                </h4>
                                <p>Мы всегда готовы к дальнейшим усовершенствования и развитию.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-compass fa-stack-1x text-dark"></i>
                                </span>
                                <h4>
                                    <strong>Интегрируем ботов</strong>
                                </h4>
                                <p>Делаем так чтобы бот смог работать с вашей любимой Crm и любыми другими системами слаженно.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h2>Наши работы</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="http://dinerbot.karhouse.org">
                                    <img class="img-portfolio img-fluid" src="~/Assets/img/ipad_1.png">
                                </a>
                                <h4>Бот для автоматизации обслуживания в кафе.</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h4>
                        <strong>Karhouse</strong>
                    </h4>
                    <a class="btn btn-dark btn-req btn-lg js-scroll-trigger js-request">Оставить заявку</a>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            +7(965) 433-6231
                        </li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i>
                            <a href="mailto:info@karhouse.org">info@karhouse.org</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="https://www.facebook.com/Dinerbot" target="_blank">
                          <i class="fa fa-facebook fa-fw fa-3x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://telegram.me/alemlange" target="_blank">
                          <i class="fa fa-telegram fa-fw fa-3x"></i>
                        </a>
                      </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Karhouse 2018</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </footer>

    <div class="modal" id="MessageModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Заполните форму и мы с вами свяжемся!</h4>
                    <button type="button" class="close js-close-modal" data-dismiss="modal">&times;</button>
                </div>
                <form class="form-horizontal col-sm-12">
                    <div class="modal-body">
                        <div class="fields-request">
                            <div class="form-group">
                                <label>Организация</label>
                                <input class="form-control required js-org-name" placeholder="Название вашей организации" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text" />
                            </div>
                            <div class="form-group">
                                <label>Контакты</label>
                                <input class="form-control email js-email" placeholder="Почта или любой другой контакт" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="text">
                            </div>
                            <div class="form-group">
                                <label>Назначение бота</label>
                                <textarea class="form-control js-comment" placeholder="Тут вы можете кратко описать возможности которые хотите видеть в вашем боте..." data-placement="top" data-trigger="manual"></textarea>
                            </div>
                        </div>
                        <div class="request-success">
                            <h3>Ваша заявка успешно отправлена!</h3>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-right js-send-request" data-target="@Url.Action("NewRequest","Home")">Отправить</button>
                    <button class="btn btn-success pull-right js-spinner"><i class="fa fa-spinner fa-spin"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Assets/js/stylish-portfolio.js"></script>

</body>

</html>
