@model ManagerDesk.ViewModels.FeedbackViewModel

<div class="info-item js-feed-card animated fadeIn"  data-itemid="@Model.Id" data-type="Feed">

    <h3 class="info-item-heading">@Model.UserName</h3>
    <div class="dish-description">@Model.Text</div>
</div>