@import "main.css";
@import "config.less";

/* Navbars
====================================*/
.navbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  z-index: 1100;
  background-color: @color-main;
  box-shadow: @box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .toolbar-top {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      flex-basis: 65%;

      li {
          margin-right: 25px;
      }
  }

  .navbar-left-btn {
    display: inline-block;
    color: @color-white;
    cursor: pointer;
    /*margin: 14px 5px 5px 37px;*/
    margin-left: 25px;
    font-size: 21px;
  }

  a {
      color: @color-white;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
  }

  .logout {
      margin-right: 25px;
  }
}

.navbar-left {
    position: fixed;
    width: 220px;
    height: 100vh;
    left: 0;
    z-index: 99;
    box-shadow: @box-shadow;

    .profile-item {
        padding: 33px 25px;
        min-width: 220px;
        min-height: 150px;
        background-color: lighten(@color-main, 5%);
        color: @color-white;

        img {
            margin-bottom: 10px;
        }
    }

    .menu {
        height: 100%;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: @color-background-item;

        .active-item {
            background-color: #f8f8f9;
            border-left: 4px solid @color-main;
        }

        a {
            display: block;
            padding: 14px 20px 14px 25px;
            color: @color-text;
            text-decoration: none;

            &:hover {
                font-family: "RobotoBold", sans-serif;
            }

            i {
                margin-right: 6px;
            }
        }
    }
}

/* Info Main Section
====================================*/
.page-wrapper {
    padding-left: 220px;
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-main {
    padding: 30px 20px 40px;
    flex: 1 0 auto;

    .info-item {
        min-height: 150px;
        margin-bottom: 25px;
        box-shadow: @box-shadow;
        background-color: @color-background-item;
        padding: 15px 20px 20px 20px;
        display: block;
        cursor: pointer;
        position: relative;

        .table-wrap {
            display: flex;
            flex-direction: column;

            .label {
                align-self: center;
                margin-bottom: 5px;
            }
        }

        .info-item-heading {
            margin-top: 0;
            text-align: center;
        }

        .price-heading {
            color: @color-main;
            text-align: center;
        }

        .table-number {
        }

        .dish-name {
            border-bottom: 1px solid @color-border;
            padding: 5px 0;
        }

        .dish-price {
            float: right;
            color: @color-main;
        }

        .dish-description {
            text-align: center;
        }

        .more-menu-btn {
            position: absolute;
            left: 5px;
            top: 5px;
            background-color: lighten(@color-main, 5%);
            width: 30px;
            height: 30px;
            font-size: 29px;
            text-align: center;
            line-height: 27px;
            color: @color-white;
            box-shadow: @box-shadow;
            border-radius: 20px;
            transition: 0.3s;

            &:hover {
                background-color: @color-main;
            }
        }

        .dropdown {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .btn-save-dishes {
            display: block;
            width: 50%;
            margin: 10px auto;
            background-color: @color-main;
            color: @color-white;
        }

        input {
            border-radius: 0;
        }
    }
}

.menu-selected{
    color: aquamarine !important;
}

.chosen-card{
    opacity: 0.5;
}

/* Footer
====================================*/
.footer-bottom {
  background-color: @color-background-item;
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  flex: 0 0 auto;

  .copyright {
    padding: 10px 20px;
    border-top: 1px solid #e7eaec;
  }
}

