@model List<string>
<h3 class="info-item-heading"> Категории по порядку: </h3>
@foreach (var cat in Model)
{
    if (string.IsNullOrEmpty(cat))
    {
        <li><h4 class="info-item-heading js-cat-value" data-value=""><i class="fa fa-arrows-v"></i> Без категории</h4></li>
    }
    else
    {
        <li><h4 class="info-item-heading js-cat-value" data-value="@cat"><i class="fa fa-arrows-v"></i> @cat</h4></li>
    }

}
<span href="#" class="btn btn-save-dishes js-save-cat-list" data-edittarget="@Url.Action("EditCatList","Menu")">Сохранить</span>