@model List<ManagerDesk.ViewModels.MenuViewModel>
<div class="row">
    @foreach (var menu in Model)
    {
        <div class="col-md-12 col-lg-6">
            @Html.Partial("MenuCard", menu)
        </div>
    }
</div>